.header {
  background-image: url(sourse/bg_auth.png);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: -10px;
  margin-bottom: 0px;
}

.exit-button {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.map-container {
  margin-right: 1px;
}
.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.header h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.map-container {
  text-align: center;
  margin: 20px 0;
}

#map {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.scan-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

.scan-button:hover {
  background-color: #3e8e41;
}
